# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter
.ipynb_checkpoints/

# Test caches
.pytest_cache/

# VS Code
.vscode/

# Env
.env
.venv/
venv/
env/

# Conda
conda-meta/
*.conda

# Large model files
*.ckpt
*.pth
*.pt
*.bin
*.onnx

# Logs
logs/
*.log

# Outputs
data/desobav2/
data/outputs/
data/intermediate/
outputs/
results/
checkpoints/

# OS
.DS_Store
Thumbs.db
